/* reset css */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    background: #171618;
    color: #FFFFFF;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    padding-left: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

button,
input {
    outline: none;
    border: none;
    cursor: pointer;
}

/* сетка */


.header {
    grid-area: my-header;
}

.main {
    grid-area: my-main;
}

.aside {
    grid-area: my-aside;
}

.grid {
    display: grid;
    grid-template-areas:
    "my-header my-header my-header"
    "my-aside my-main my-main"
    "my-aside my-main my-main";
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 3rem 0;
}

.grid-init {
    max-width: 144rem;
    margin: auto;
    padding: 3rem 2.4rem 4rem;
}

.header {
    box-shadow: 0 0.4rem 1rem rgba(255, 255, 255, 0.07);
}

.header__wrap {
    display: flex;
    align-items: center;
}

.header__logo {
    font-size: 6.4rem;
    line-height: 117%;
    font-weight: 700;
    margin-right: 7rem;
}

.header__nav {
    margin-right: 9.2rem;
}

.header__nav a {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 117%;
}

.header__nav a:not(:last-child) {
    margin-right: 2rem;
}

.header__find {
    width: 33rem;
    height: 4.1rem;
    border-radius: 0.8rem;
    margin-right: 3.9rem;

}

.header__find input {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08) url('../img/search.svg');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: top 50% right 1.5rem;
    border-radius: 0.8rem;
    padding-left: 1rem;
    padding-right: 4rem;
    font-size: 2rem;
    line-height: 115%;
    color: #FFFFFF;
}

.header__find input::placeholder {
    font-size: 2rem;
    line-height: 115%;
    color: #FFFFFF;
}

.header__date {
    text-align: center;
    margin-right: 8.6rem;
}

.header__hours {
    font-size: 2rem;
    line-height: 115%;
}

.header__days {
    font-size: 1.2rem;
    line-height: 117%;
}

.header__personal {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.main-display {
    padding-top: 5rem;
}

.main-display__trailer {
    position: relative;
    width: 98.5%;
    height: 20.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url(../img/Trailer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1.6rem;
    padding-top: 1.9rem;
    padding-left: 1.9rem;
    padding-bottom: 1.9rem;
}

.main-display__views {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
}

.main-display__header {
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 150%;
}

.main-display__date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.button-play__wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(1.6rem);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button-play {
    width: 3rem;
    height: 3rem;
    background: url(../img/Button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 0.5rem;

}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-right: 1rem;
    font-weight: 400;
}

.title__left, .title__right {
    display: flex;
    align-items: center;
}

.title__main {
    font-size: 2rem;
    line-height: 115%;
    font-weight: 400;
}

.title__count {
    margin-left: 2rem;
    color: rgba(255, 255, 255, 0.2);
    font-size: 2rem;
    line-height: 115%;
    font-weight: 400;
    padding-top: 0.3rem;
}

.title__right span {
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.2);
}

.title__right img {
    width: 2rem;
    height: 1.6rem;
    margin-left: 0.4rem;
}

.trending, .popular {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 1.5rem;
}

.trending__item {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 47%;
    height: 25.1rem;
    border-radius: 1.6rem;
    background: url(../img/Trending_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.trending__header {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 150%;
}

.trending__footer, .popular__footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 1rem 1.8rem 6.4rem;
    background: rgba(255, 255, 255, 0.07);
    background-size: cover;
    backdrop-filter: blur(1.6rem);
    border-radius: 1.6rem;
}

.trending__date {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.trending__time {
    background: #FFFFFF;
    border-radius: 1.6rem;
    padding: 0.4rem 1.3rem 0.5rem 1.2rem;
    text-align: center;
    color: #000000;
    font-size: 1.4rem;
    line-height: 114%;
    font-weight: 400;
}

.trending__fire {
    position: absolute;
    top: 2rem;
    left: 2rem;
    font-size: 1.4rem;
    line-height: 114%;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(1.6rem);
    border-radius: 1.6rem;
    padding: 0.4rem 1.3rem 0.5rem 1.2rem;
}

.small {
    width: 3rem;
    height: 3rem;
    left: 7%;

}

.small__btn {
    width: 1.1rem;
    height: 1.1rem;
    margin-left: 0.25rem;
}

.popular__item {
    display: flex;
    align-items: flex-end;
    width: 31%;
    height: 19.2rem;
    border-radius: 1.6rem;
    background: url(../img/footer_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.small-plus {
    width: 1.8rem;
    height: 1.8rem;
    left: 7%;
    margin-left: 0.9rem;
}

.minimal {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.2rem;    
}

.popular__footer {
    padding: 0.8rem 1.9rem 0.7rem 4.7rem;
    width: 100%;
    margin-bottom: 0;
    margin-right: 0;
    border-radius: 1.3rem;
}

.popular__header {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
}

.popular__date {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 113%;
}

.popular__rating {
    display: flex;
    align-items: center;
}

.popular__rating span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 120%;
    margin-left: 0.4rem;
}

.aside {
    padding-right: 5.9rem;
    position: relative;
}

.aside:after {
    content: url(../img/arrow_left.svg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.2rem;
    height: 2.6rem;
    background: #FCFCFE;
    border-radius: 2rem;
    position: absolute;
    top: 10.7rem;
    right: 4.9rem;
    padding-right: 0.2rem;
    padding-top: 0.2rem;
    cursor: pointer;
}

.aside__wrap {
    background: rgba(255, 255, 255, 0.02);
    margin-left: -2.4rem;
}

.aside__top {
    padding: 5rem 2.3rem 4rem 2.4rem;
    background: #17161B;
    border-right: 0.1rem solid #1C1B1F;
}

.aside__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.6rem;
}

.aside__sort {
    display: flex;
}

.aside__sort-img {
    display: flex;
    flex-direction: column;
    margin-left: 0.4rem;
}

.aside__sort-img img {
    width: 0.7rem;
    height: 0.7rem;
    cursor: pointer;
}

.aside__sort-img img:nth-child(1) {
    margin-bottom: 0.3rem;
}

.aside__header {
    font-size: 2rem;
    line-height: 115%;
}

.aside__sort-text {
    margin-right: 1.5rem;
    font-size: 1.4rem;
    line-height: 114%;
    color: rgba(255, 255, 255, 0.4);
}

.aside__sort-select {
    display: flex;
    align-items: center;
}

.aside__sort-select span {
    font-size: 1.4rem;
    line-height: 114%;
}

.aside__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22.6rem;
    border-radius: 1.5rem;
    padding: 1.9rem 0 1.9rem 1.9rem;
    background: url(../img/aside_back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.aside__item:nth-child(3) {
    margin-top: 3rem;
}

.aside__views {
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 119%;
}

.aside__footer-bottom {
    position: relative;
}

.aside__footer-bottom:before {
    content: '';
    display: block;
    width: 6.5rem;
    height: 0.1rem;
    background-color: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: -50%;
    left: 0;
    transform: translate(0, 50%);
}

.aside__item-name {
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 117%;
}

.aside__item-date {
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 114%;
}

.aside__bottom {
    padding: 2.5rem 0 2rem 2.4rem;
}

.aside__favourite-text {
    margin-bottom: 2rem;
    font-size: 2rem;
    line-height: 115%;
}

.aside__genre-items {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    padding-right: 5rem;
}

.aside__genre {
    margin-bottom: 2rem;
    margin-right: 3rem;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    font-size: 1.2rem;
    line-height: 117%;
}

.aside__favourite {
    margin-bottom: 6rem;
}

.aside__add {
    display: flex;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 114%;
    cursor: pointer;
}

.aside__add-round {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2b2a2f;
    margin-right: 0.5rem;
}

.purple {
    background: #8066f6;
}

.orange {
    background: #E1784F;
}

.green {
    background: #63CFE1;
}

.gray {
    background: #2b2a2f;
}

a:hover {
    text-decoration: underline;
}

.button-play__wrap:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.5rem 1.5rem rgba(211, 214, 250, 0.795);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 3rem 0;
    z-index: 100;
    display: none;
}

.modal__inner {
    width: 100rem;
    height: 60rem;
}

.active {
    display: flex;
}

/* сбрасываем базовый шрифт */
@media (max-width: 108em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 105em) {
    html {
        font-size: 8.75px;
    }
}

@media (max-width: 91.5em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 91em) {
    html {
        font-size: 8.4px;
    }
}

@media (max-width: 90em) {
    html {
        font-size: 7.9px;
    }
}

@media (max-width: 80em) {
    html {
        font-size: 7.2px;
    }
}

@media (max-width: 72em) {
    html {
        font-size: 6.5px;
    }
}

@media (max-width: 64em) {
    html {
        font-size: 5.5px;
    }
}

@media (max-width: 48em) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 44em) {
    html {
        font-size: 9px;
    }
}

@media (max-width: 38em) {
    html {
        font-size: 8px;
    }
}

@media (max-width: 34em) {
    html {
        font-size: 7px;
    }
}

@media (max-width: 30em) {
    html {
        font-size: 6px;
    }
}

@media (max-width: 26em) {
    html {
        font-size: 4.5px;
    }
}

@media (max-width: 21em) {
    html {
        font-size: 4.4px;
    }
}